<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <!----------------TEXT---------------->
    <h2 th:text="${name}"></h2>
    <h2 th:text="${surname}"></h2>
    <h2 th:text="${course}"></h2>
    <h2 th:text="${studentId}"></h2>
    <h2 th:text="${numbers}"></h2>
    <h2 th:text="${numbers.get(1)}"></h2>
    <h2 th:text="${birthday}"></h2>
    <h2 th:text="${'Hello ' + name + ' ' + surname + ' to the ' + course + '...'}"></h2>
    <h2 th:text="${'Your student ID is: ' + studentId}"></h2>
    <h2 th:text="${student.getFirstName()}"></h2>
    <h2 th:text="${student.firstName}"></h2>

    <!----------------LINK---------------->
    <a th:href="@{https://cybertekschool.com}">Cybertek</a>
    <a th:href="@{/student/register}">Register</a>

    <!----Adding Parameters to Link------->
    <a th:href="@{/student/welcome(id=3)}">Link2</a>
    <a th:href="@{/student/welcome(id=${student.id})}">Link3</a>

    <!------------Iteration--------------->
    <ul>
        <li th:each="each : ${numbers}" th:text="${each}"></li>
    </ul>

    <!------------Fragment---------------->
    <div th:replace="fragments/footer :: footer1"></div>

</body>

</html>